@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Overpass, sans-serif;
  
}


body {
  width: 100%;
  font-size: 16px;
}

img {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  padding-bottom: 30px;
}

div {
  overflow: hidden;
}

article {
  color: hsl(207, 13%, 34%);
  text-align: center;
  padding: 50px;
}

article h1 {
  color: hsl(208, 49%, 24%);
  padding-top: 50px;
}

p {
  padding-bottom: 30px;
}

ul {
  list-style: none;

}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}


.icon {
  display: none;
}

.menu-hamburguer:hover {
  cursor: pointer;
}

@media (max-width: 900px) {

  .logo-cabecalho {
    position: absolute;
    width: 100px;
    margin-top: 30px;
  }
  .menu-hamburguer {
    width: 30px;
    display: flex;
    position: relative;
    left: 90%;
    margin-top: 40px;
  }
  
  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: white;
    color: black;
    height: 400px;
    width: 80%;
    top: 10%;
    line-height: 30px;
    text-align: center;
    box-shadow: 1px 1px 10px black;
    padding-top: 15px;
    border-radius: 15px;
}

  .login-sign {
    display: flex;
    flex-direction: column;
    }

  .sign-up {
    margin: 0 auto;
    width: 150px;
    background: radial-gradient(circle, rgba(255,67,86,1) 41%, rgba(255,143,112,1) 100%);
    color: white;
    }

  .login {
    width: 150px;
    color: black;
    margin: 0 auto;
    }

  .dropdownContent{
    display: none;
    padding: 5px;
    font-weight: 300;
    margin: 15px;
    }
  
  .dropdownContent-click{
    display: block;
    background-color: lightgray;
    border-radius: 15px;
  }
  
  .dropdownContent a{
    display: block;
    padding: 0;
    font-weight: 300;
    line-height: 40px;
  }
  
}

.dropdownContent a:hover {
  font-weight: 600;
  cursor:pointer;
}

.login {
  background-color: transparent;
  font-weight: 600;
  padding-right: 10px;
  padding-top: 10px;
}

.sign-up {
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 30px;
}

.sign-up:hover {
  background-color: hsl(355, 100%, 74%);
  cursor: pointer;
  color: white;
}

.cabecalho {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  color: white;
  background: radial-gradient(circle, rgba(255,67,86,1) 41%, rgba(255,143,112,1) 100%);
  padding: 10px 40px 150px 50px;
  border-radius: 0 0 0 150px;
}

.cabecalho h1 {
  padding-top: 80px;
}

.buttons button {
  padding: 10px 30px 10px 30px;
  border-radius: 40px;
  margin: 10px;
}

.botao-um {
  color: hsl(356, 100%, 66%);
  font-weight: 600;
}

.botao-um:hover {
  color: white;
  background-color: hsl(355, 100%, 74%);
  cursor: pointer;
}

.botao-dois {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 600;
}

.botao-dois:hover {
  background-color: white;
  color: hsl(355, 100%, 74%);
  cursor:pointer;
}

.titulo-principal {
  padding-top: 100px;
  color: hsl(208, 49%, 24%);
  text-align: center;
}

.telefone{
  transform: translateY(200px);
  margin-top: -200px;
}

.artigo2 {
  padding-top: 100px;
  background: radial-gradient(circle, rgba(63,65,100,1) 27%, rgba(44,45,63,1) 99%);
  color: white;
  border-radius: 0 30%;
}


.artigo2 h1 {
  color: white;
}

.logo {
  width: 100px;
}

.rodape {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: hsl(240, 10%, 16%);
  color: hsl(240, 2%, 79%);
  border-radius: 0 150px 0 0;
}

.rodape p {
  color: white;
  font-weight: 600;
}


.nav-footer {
  padding: 70px;
}

@media (min-width: 900px) {
  .icon {
    display: block;
    width: 10%;
    padding: .5em;
    line-height: 1.22;
    float:right;
  }

  .cabecalho {
    display: flex;
  }
  .cabecalho .menu-hamburguer {
    display: none;
  }

  .logo-cabecalho {
    width: 10%;
    display: flex;
    position:absolute;
  }

  .nav {
    width: 75%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    font-weight: 600;
    margin-left: 20%;
    padding-top: 20px;
  }

  .navList li {
    display: inline-block;
    padding: 15px;
  }
 
  .dropdown {
    display: inline-block;
    
  }
  
  .dropdown:hover {
    cursor: pointer;
  }

  .dropdownContent a{
    display: block;
    padding: 0;
    font-weight: 300;
  }


  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdownContent {
    display: block;
    color: black;
    padding: 10px 20px;
    line-height: 35px;
    border-radius: 15px;
    text-align: left;
  }

  .login-sign {
    display: flex;
    background-color: transparent;
    padding-top: 5px;
    align-self: center;
    align-items: flex-start;
    }
  
  .login {
    background-color: transparent;
    color: white;
    font-weight: 600;
    padding-right: 40px;
    padding-top: 10px;
  }
  
  .sign-up {
    background-color: white;
    color: hsl(356, 100%, 66%);
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 30px;
  }
  
  .sign-up:hover {
    background-color: hsl(355, 100%, 74%);
    cursor: pointer;
    color: white;
  }


  .container-um {
    display: flex;
    width: 100%;
  }
  .artigo1 {
    width: 50%;
    text-align: left;
    padding-left: 200px;
  }

  .illustrator {
    width: 150%;
    transform: translateY(-100px);
  }

  .primeira-imagem {
    width: 50%;
    order: 1;
  }

  .container-dois {
    display: flex;
    width: 100%;
    background: radial-gradient(circle, rgba(63,65,100,1) 27%, rgba(44,45,63,1) 99%);
    border-radius: 0 150px;
    padding-bottom: -10px;
  }

  .telefone {
    transform: translateY(0);
  }

  .segunda-imagem {
    width: 50%;
    margin-bottom: -50px;
    margin-top: -50px;
    transform: translateY(150px);
  }

  .artigo2 {
    text-align: left;
    width: 50%;
    background:transparent;
  }

  .container-tres {
    padding-top: 150px;
    display: flex;
    width: 100%;
  }

  .artigo3 {
    padding-top: 180px;
    width: 50%;
    text-align: left;
  }

  .terceira-imagem {
    width: 50%;
  }

  .laptop {
    width: 150%;
    transform: translateX(-260px);
  }

  .rodape {
    width: 100%;
    display: flex;
    line-height: 30px;
  }

  .nav-footer {
    width: 80%;
    display: flex;
  }

  .rodape div {
    padding: 30px 100px;
  }

  .logo {
    padding: 0;
  }

}